*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.boo{
    /* background-image: url(images/images\ \(3\).jpg); */
    background-color: #083374;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    min-width: 100%;
    padding-top: 40px;
    color: white;
    padding-bottom: 20px;
}